<%- include("../../views/partials/admin/header") %>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
</head>
<div class="content-header">
    <div>
        <h2 class="content-title card-title">Products</h2>
    </div>
</div>
<header class="card-header text-center mb-20 ">
    <form action="" method="get" class="d-inline ">
        <div class="input-group input-group-sm border border-1 border-grey rounded-pill" style="width: 500px; margin-left: 402px;">
            <input type="text" class="form-control border-0 rounded-pill " placeholder="Search products " name="search">
            <button class="btn  border-0" type="submit">Search</button>
        </div>
    </form>
</header>
<div class="right mt-5">
    <%if (data.length>0){%>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><b>Product name</b></th>
                <th scope="col"><b>Category</b></th>
                <th scope="col"><b>Sale Price</b></th>
                <!-- <th scope="col"><b>Offer Price</b></th>
                <th scope="col"><b>Offer</b></th> -->
                <th scope="col"><b>Quantity</b></th>
                <th scope="col"><b>Action</b></th>
                <th scope="col"><b>Edit</b></th>
            </tr>
        </thead>
        <tbody>
            <%for(let i=data.length-1;i>=0;i--){%>
            
            <tr>
                <td><%=data[i].productName%></td>
                <td><%= data[i].category ? data[i].category.name : 'No Category' %></td>
                <td><%=data[i].salePrice%></td>
<!--                 
                <td>
                    <%if(locals.data[i].productOffer){%>
                        <%=data[i].productOffer%>

                        <%}else{%>
                            0%

                            <%}%>


                </td>
                
                <td>
                    <% if (!data[i].productOffer || data[i].productOffer === 0) { %>
                        
                    <button class="btn btn-info" onclick="addOffer('<%=data[i]._id%>')" style="width: 100px;">
                        <a href="#" class="text-white">Add Offer</a>
                    </button>
                    <%}else{%>
        
                    <button class="btn btn-info" onclick="removeOffer('<%=data[i]._id%>')" style="width: 100px;">
                        <a href="#" class="text-white">Remove</a>
                    </button>
                    <%}%>
                
                </td> -->
                <td><%=data[i].quantity%></td>
                <td>

                <%if(data[i].isBlocked===false){%>
                    <button class="btn btn-danger" style="width: 80px;" onclick="blockProduct('<%= data[i]._id %>')">
                        <a href="#" class="text-white" style="text-decoration: none;">Block</a>
                      </button>
                    <%}else{%>
                        <button class="btn btn-success" style="width: 80px;" onclick="unblockProduct('<%= data[i]._id %>')">
                            <a href="#" class="text-white" style="text-decoration: none;">Unblock</a>
                          </button>
            <%}%>
                </td>
                <td>
                    <button class="btn btn-info" style="width: 80px;">
                        <a href="/admin/editProduct?id=<%=data[i]._id%>" class="text-white" style="text-decoration: none;">Edit</a>
                    </button>
                </td>
            </tr>
            <%}%>
            <% } else { %>
                <div class="card text-center text-white bg-danger mx-auto mt-3" style="max-width: 50rem;">
                    <div class="card-body">
                        <h5 class="card-title">try again</h5>
                        <p class="card-text">Oooops Not find Anything Related to your query</p>
                    </div>
                </div>
                
              <% } %>
        
        </tbody>

    </table>
</div>
</div>
</div>

<div class="container mt-3">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mb-20" style="margin-right: 200px;">
 
 
            <% for (let i = 1; i <= totalPages; i++) { %>
            <li class="page-item <%=(i === currentPage) ? 'active' : '' %>">
                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
            </li>
            <% } %>
 
 
        </ul>
    </nav>
 </div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>


<script>
   async function addOffer (productId){
    const {value:amount}=await Swal.fire({
        title:"Offer in percentage ",
        input:'number',
        inputLabel:'percentage',
        inputPlaceholder:'%',

    })
    $.ajax({
        url:"/admin/addProductOffer",
        method:'post',
        data:{
            percentage:amount,
            productId:productId
        },
        success:(response)=>{
            if(response.status===true){
                location.reload()
                Swal.fire('Offer added','The offer added','success')
            }else{
                alert("failed to add Offer")
                
            }
        }
    })
   }
   function removeOffer(productId){
    try{
        Swal.fire({
            title:'Remove offer ',
            text: 'Are you sure you want to remove this offer',
            icon:'warning',
            showCancelButton:true,
            confirmButtonColour:'#3085d6',
            CancelButtonColor:'#d33',
            confirmButtonText:'Yes,remove it !',
            timer :5000,
            timerProgressBar:true
        }).then(async(result)=>{
            if(result.isConfirmed){
                $.ajax({
                    url:"/admin/removeProductOffer",
                    method:'post',
                    data:{
                       productId:productId

                    },
                    success:(response)=>{
                        if(response.status===true){
                          Swal.fire('Removed!','The offer has been removed','success') ;
                          location.reload() 
                        }else if(response.status===false){
                            Swal.fire('failed');
                        }else{
                            alert('failed')
                        }
                    }
                })
            }
        })
    }catch(error){
        console.error(error)
    }
   }

   function blockProduct(productId) {
  Swal.fire({
    title: 'Are you sure?',
    text: "You won't be able to revert this action!",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Yes, block it!',
    cancelButtonText: 'No, cancel!',
    reverseButtons: true
  }).then((result) => {
    if (result.isConfirmed) {
      // If the user confirmed, proceed with blocking
      $.ajax({
        url: `/admin/blockProduct?id=${productId}`, // Ensure the URL is correct
        method: 'GET',
        data: { id: productId },
        success: function(response) {
          if (response.status === true) {
            Swal.fire(
              'Blocked!',
              'The product has been blocked.',
              'success'
            ).then(() => {
              location.reload(); // Reload the page after blocking the product
            });
          } else {
           

            Swal.fire(
              'Failed!',
              'An error occurred while blocking the product.',
              'error'
            );
          }
        }
      });
    }
  });
}

function unblockProduct(productId) {
  Swal.fire({
    title: 'Are you sure?',
    text: "You can unblock it later.",
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: 'Yes, unblock it!',
    cancelButtonText: 'No, cancel!',
    reverseButtons: true
  }).then((result) => {
    if (result.isConfirmed) {
      // If the user confirmed, proceed with unblocking
      $.ajax({
        url: "/admin/unblockProduct", // Change the URL based on your actual route for unblocking
        method: 'GET',
        data: { id: productId },
        success: function(response) {
          if (response.status === true) {
            Swal.fire(
              'Unblocked!',
              'The product has been unblocked.',
              'success'
            ).then(() => {
              location.reload(); // Reload the page after unblocking the product
            });
          } else {
            Swal.fire(
              'Failed!',
              'An error occurred while unblocking the product.',
              'error'
            );
          }
        }
      });
    }
  });
}









</script>



<%- include("../../views/partials/admin/footer") %>
